include *.md
include *.txt
recursive-include custom_reports *.html
recursive-include custom_reports *.ico
recursive-include custom_reports *.js
recursive-include custom_reports *.json
recursive-include custom_reports *.md
recursive-include custom_reports *.png
recursive-include custom_reports *.py
recursive-include custom_reports *.svg
recursive-include custom_reports *.txt